<section class="main-shop">
  <h5 class="card-title text-center" style="color:#f7f7f2;margin-bottom: 0;">New Arrivals</h5>
  <hr class="divider-main" style='margin-top: 0;'>
  <div class="shop-item" *ngFor="let product of products|async">
    <img [src]="product.imageUrl" class="shop-item-img" routerLink="/product/{{product.uid}}">
    <div class="desc-box">
      <div class="info">
        <h3 class="shop-item-text">{{product.name}}</h3>
        <h3 class="shop-item-text">P{{product.price}}</h3>
      </div>
      <img src="../../../assets/icons/icons8-favorite-cart-48.png" class="add-to-cart-icon"
           (click)="addToCart(product)">
    </div>
  </div>
</section>

<section class="gallery-section">
  <h5 class="card-title text-center" style="color:#f7f7f2;margin-bottom: 0;">Gallery</h5>
  <hr class="divider-main" style='margin-top: 0;'>
  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <img class="gallery__img img-responsive" src="../../../assets/content/1.jpg" alt="">
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img class="gallery__img img-responsive" src="../../../assets/content/4.jpg" alt="">
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img class="gallery__img img-responsive" src="../../../assets/content/9.jpg" alt="">
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img class="gallery__img img-responsive" src="../../../assets/content/7.jpg" alt="">
    </figure>
    <figure class="gallery__item gallery__item--5">
      <img class="gallery__img img-responsive" src="../../../assets/content/6.jpg" alt="">
    </figure>
  </div>

</section>

<section class="quote-section">
  <h1 class="section-header">Intimacy Re-defined</h1>
  <p class="text-center lead">"Life's too short to wear boring lingerie"</p>
</section>

<hr class="divider-main" style="margin-top: 0;">

<section class="shop-section">
  <app-home-shop></app-home-shop>
</section>

<footer class="footer">
  <p class="text-center lead">"Our beginning has no end"</p>
</footer>
<!-- <div class="hovereffect">
                    <img class="gallery__img img-responsive" src="../../../assets/content/1.jpg" alt="">
                    <div class="overlay">
                        <p class="icon-links">
                            <a href="#" title="Add to cart">
                                <img class="icon" src="../../../assets/icons/add_to_cart.svg">
                            </a>
                        </p>
                    </div>
                </div> -->
