<section id="main">
    <section class="gallery-section">
        <app-gallery></app-gallery>
    </section>

    <section class="gallery-section" id="bras">
        <app-bras></app-bras>
    </section>

    <section class="gallery-section" id="undies">
        <app-undies></app-undies>
    </section>

    <section class="gallery-section" id="sets">
        <app-sets></app-sets>
    </section>
</section>

<section class="quote-section">
    <h1 class="section-header">Intimacy Re-defined</h1>
    <p class="text-center lead">"Life's too short to wear boring lingerie"</p>
</section>

<hr class="divider-main" style="margin-top: 0;">

<section class="shop-section">
    <app-home-shop></app-home-shop>
</section>