<div class="gallery">
  <figure class="gallery__item gallery__item--1">
    <img src="../../../assets/content/3.jpg" alt="Gallery image 1" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--2">
    <img src="../../../assets/content/4.jpg" alt="Gallery image 2" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--3">
    <img src="../../../assets/content/9.jpg" alt="Gallery image 3" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--4">
    <img src="../../../assets/content/7.jpg" alt="Gallery image 4" class="gallery__img">
  </figure>
  <figure class="gallery__item gallery__item--5">
    <img src="../../../assets/content/6.jpg" alt="Gallery image 5" class="gallery__img">
  </figure>
</div>