<div class="cart-layout container">
  <h5 class="card-title text-center" style="color:#f7f7f2;margin-bottom: 0;">{{user.displayName}}</h5>
  <img class="user-detail-profile-photo" [src]="user.imageUrl" style="margin-bottom: 10px;">

  <p class="user-info">
    <span class="glyphicon glyphicon-envelope"></span>📧 <b>Email</b>
  </p>
  <p class="user-info">
    {{user.email}}
  </p>
    <br/>
  <p class="user-info">
    <span class="glyphicon glyphicon-user"></span>📛 <b>Fullname</b>
  </p>
  <p class="user-info">
    {{user.name}} {{user.surname}}
  </p>
    <br/>
  <p class="user-info">
    <span class="glyphicon glyphicon-gift"></span>🎁 <b>Date of Birth</b>
  </p>
  <p class="user-info">
     {{user.dob}}
  </p>
  <button class="btn btn-lg btn-block text-uppercase button" routerLink="/editProfile">Edit profile</button>
  <button class="btn btn-lg btn-block text-uppercase button" style="margin-bottom: 10px;">Change password</button>
  <h5 class="card-title text-center" style="color:#f7f7f2;margin-bottom: 0;">My Orders</h5>
  <hr class="divider-main" style='margin-top: 0;'>
  <ul class="my-orders">
    <li *ngFor="let order of myOrders|async" class="order" routerLink="/order/{{order.uid}}">
      <img [src]="order.shoppingCartItems[0].product.imageUrl" class="order-image">
      <p class="order-info">
        {{order.dateOrdered | date: 'yyyy-MM-dd'}}
        <br/>
        {{order.dateOrdered | date: 'shortTime'}}
      </p>
      <div class="status">
        <p class="text-center">
          <b>Status</b>
        </p>
        <p class="text-center">
          {{order.status}}
        </p>
      </div>
    </li>
  </ul>
</div>

