<div class="new-member-container">
    <div class="new-member mt-auto mb-auto">
        <p class="member-name">
            Alex
        </p>
        <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    </div>
    <div class="new-member">
        <p class="member-name">
            Alex
        </p>
        <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    </div>
    <div class="new-member">
        <p class="member-name">
            Alex
        </p>
        <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    </div>
    <div class="new-member">
        <p class="member-name">
            Alex
        </p>
        <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    </div>
</div>
