<div class="new-member-container">
  <div class="new-member">
    <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    <p class="member-name">
      Alex
    </p>
  </div>
  <div class="new-member">
    <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    <p class="member-name">
      Alex
    </p>
  </div>
  <div class="new-member">
    <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    <p class="member-name">
      Alex
    </p>
  </div>
  <div class="new-member">
    <img src="../../../assets/content/me.jpg" class="img-member" alt="">
    <p class="member-name">
      Alex
    </p>
  </div>
</div>
