@import "../src/assets/styles/themes.scss";
@import "../src/assets/styles/navbar.scss";
@import "../src/assets/styles/main-feed.scss";
@import "../src/assets/styles/gallery.scss";
@import "../src/assets/styles/home-shop.scss";
@import "../src/assets/styles/card.scss";
@import "../src/assets/styles/fonts.scss";
@import "../src/assets/styles/toaster.scss";
@import "../src/assets/styles/user-detail.scss";
@import "../src/assets/styles/anchorRoute.scss";
@import "../src/assets/styles/new-members.scss";
@import "../src/assets/styles/shop-cart.scss";
@import "../src/assets/styles/dashboard.scss";
@import "../src/assets/styles/new-gallery.scss";
@import "../src/assets/styles/product-detail.scss";

* {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: $background;
}

html,
body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

header {
  margin-bottom: 5px;
}
