@import "../src/assets/styles/themes.scss";
@import "../src/assets/styles/layout-grid.scss";
@import "../src/assets/styles/navbar.scss";
@import "../src/assets/styles/main-feed.scss";
@import "../src/assets/styles/gallery.scss";
@import "../src/assets/styles/home-shop.scss";
@import "../src/assets/styles/login.scss";
@import "../src/assets/styles/register.scss";
@import "../src/assets/styles/fonts.scss";
@import "../src/assets/styles/toaster.scss";

* {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: $background;
}

html,
body {
  min-height: 100%;
}

header{
  margin-bottom: 5px;
}
