.card-userinput {
	width: 328px;
	border: 0;
	border-radius: 1rem;
	box-shadow: 0px 0px 5px #fff;
	margin-top: 3rem;
	background-color: $component;
	margin-bottom: 20px;
  @media (min-device-width: 480px){
    width: 500px;
  }
}

.card-subtitle {
	font-family: "subFont";
	font-size: 1.4rem;
	text-decoration: underline;
}

label {
	font-family: "leadFont";
	font-size: 1.1rem;
	margin: 0;
}

.btn {
	display: inline-block;
	*display: inline;
	padding: 6px 20px;
	margin: 0;
	cursor: pointer;
	overflow: visible;
	text-decoration: none;
	font-family: "leadFont";
	font-size: 1rem;
	white-space: nowrap;
	color: #555;
	background-color: #fff;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(255, 255, 255, 1)),
		to(rgba(255, 255, 255, 0))
	);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	background-clip: padding-box;
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
		0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
		0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card-title {
	font-family: "leadFont";
	font-size: 2.5rem;
}

.component-title{
	font-family: "leadFont";
	font-size: 1.8rem;
	margin-bottom: 10px;
}

.divider {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(13, 9, 10, 0), rgba(13, 9, 10, 0.75), rgba(13, 9, 10, 0));
}

.form-control {
	border-radius: 1rem;
	font-family: "subFont";
	margin-bottom: 5px;
}

.error {
	color: #bb314f;
	font-family: "subFont";
	font-size: 1rem;
}

.btn {
	font-family: "subFont";
}

.quote {
	font-family: "subFont";
	font-style: italic;
	font-size: 1.7rem;
	text-align: center;
	margin: 0;
	&::after {
		content: "\2013 \2003"attr(cite);
		display: block;
		text-align: right;
		font-size: 1rem;
		color: $background;
	}
}

.message{
    font-family: "subFont";
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

[type="file"] {
	height: 0;
	overflow: hidden;
	width: 0;
}

[type="file"] + label {
	cursor: pointer;
	display: inline-block;
	font-family: "subFont";
	font-size: inherit;
	outline: none;
	padding: 0.5rem;
	position: relative;
	vertical-align: middle;

	&.btn-2 {
		background-color: #fff;
		border-radius: 1rem;
		border: 1px solid #ced4da;
		overflow: hidden;
	}
}

input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
	border-radius: 7px;
}

select{
  option {
    font-family: "subFont";
  }
}
