@import "./breakpoints.scss";

// hover effect
// .hovereffect {
//   width: 100%;
//   height: 100%;
//   float: left;
//   overflow: hidden;
//   position: relative;
//   text-align: center;
//   cursor: default;
// }

// .hovereffect .overlay {
//   width: 100%;
//   position: absolute;
//   overflow: hidden;
//   left: 0;
//   top: auto;
//   padding: 0.5em;
//   padding-top: 1.5em;
//   bottom: 0;
//   height: 4.75em;
//   background: $component;
//   color: #3c4a50;
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.35s;
//   -webkit-transform: translate3d(0, 100%, 0);
//   transform: translate3d(0, 100%, 0);
//   visibility: hidden;
// }

// .hovereffect h2 {
//   text-transform: uppercase;
//   color: #fff;
//   text-align: center;
//   position: relative;
//   font-size: 17px;
//   padding: 10px;
//   background: rgba(0, 0, 0, 0.6);
//   float: left;
//   margin: 0px;
//   display: inline-block;
// }

// .hovereffect a.info {
//   display: inline-block;
//   text-decoration: none;
//   padding: 7px 14px;
//   text-transform: uppercase;
//   color: #fff;
//   border: 1px solid #fff;
//   margin: 50px 0 0 0;
//   background-color: transparent;
// }
// .hovereffect a.info:hover {
//   box-shadow: 0 0 5px #fff;
// }

// .hovereffect p.icon-links a {
//   float: right;
//   color: #3c4a50;
//   font-size: 1.4em;
//   width: 30px;
// }

// .hovereffect:hover p.icon-links a:hover,
// .hovereffect:hover p.icon-links a:focus {
//   color: #252d31;
// }

// .hovereffect h2,
// .hovereffect p.icon-links a {
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.35s;
//   -webkit-transform: translate3d(0, 200%, 0);
//   transform: translate3d(0, 200%, 0);
//   visibility: visible;
// }

// .hovereffect p.icon-links a span:before {
//   display: inline-block;
//   padding: 8px 10px;
//   speak: none;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .hovereffect:hover .overlay,
// .hovereffect:hover h2,
// .hovereffect:hover p.icon-links a {
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }

// .hovereffect:hover h2 {
//   -webkit-transition-delay: 0.05s;
//   transition-delay: 0.05s;
// }

// .hovereffect:hover p.icon-links a:nth-child(3) {
//   -webkit-transition-delay: 0.1s;
//   transition-delay: 0.1s;
// }

// .hovereffect:hover p.icon-links a:nth-child(2) {
//   -webkit-transition-delay: 0.15s;
//   transition-delay: 0.15s;
// }

// .hovereffect:hover p.icon-links a:first-child {
//   -webkit-transition-delay: 0.2s;
//   transition-delay: 0.2s;
// }

.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 5px;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 5vw);
}

.gallery__item {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px #fff;
  margin: 0px;
  cursor: pointer;
  @include for-phone-only-portrait {
  }
  @include for-phone-only-landscape {
  }
}

.gallery__img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.9;
  object-fit:fill;
  display: block;
  align-content: center;
  cursor: pointer;
  @include for-phone-only-portrait {
  }
  @include for-phone-only-landscape {
  }
}

.gallery__item--1 {
  @include for-phone-only-portrait {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
  }
  @include for-phone-only-landscape {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
  }
}

.gallery__item--2 {
  @include for-phone-only-portrait {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
  }
  @include for-phone-only-landscape {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}
.gallery__item--3 {
  @include for-phone-only-portrait {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 15;
  }
  @include for-phone-only-landscape {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 10;
  }
}
.gallery__item--4 {
  @include for-phone-only-portrait {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 21;
  }
  @include for-phone-only-landscape {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
.gallery__item--5 {
  @include for-phone-only-portrait {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 15;
    grid-row-end: 21;
  }
  @include for-phone-only-landscape {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
