@import "./breakpoints.scss";

.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 5px;
  margin: 0;
  height: 70%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(21, 5vw);
}

.gallery__item {
  overflow: hidden;
  border-radius: 3%;
  box-shadow: 0px 0px 5px #fff;
  margin: 0px;
  max-height: 180px;
  @include for-phone-only-portrait {
  }
  @include for-phone-only-landscape {
  }
}

.gallery__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  display: block;
  align-content: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  @include for-phone-only-portrait {
  }
  @include for-phone-only-landscape {
  }
}

.gallery__item:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.gallery__item--1 {
  @include for-phone-only-portrait {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
  }
  @include for-phone-only-landscape {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
  }
}

.gallery__item--2 {
  @include for-phone-only-portrait {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
  }
  @include for-phone-only-landscape {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}
.gallery__item--3 {
  @include for-phone-only-portrait {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 15;
  }
  @include for-phone-only-landscape {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 10;
  }
}
.gallery__item--4 {
  @include for-phone-only-portrait {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 21;
  }
  @include for-phone-only-landscape {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
.gallery__item--5 {
  @include for-phone-only-portrait {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 15;
    grid-row-end: 21;
  }
  @include for-phone-only-landscape {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
