@import './breakpoints.scss';

.product-image-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.directional-arrow {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.directional-arrow:hover {
  fill: $secondary;
}

.image-slider-container{
  height: 100%;
  @include for-phone-only-portrait{
    width: 225px;
  }
}

.arrow-link {
  width: 30px;
  height: 30px;
}
