@import "./breakpoints.scss";

.product-image-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  @media (min-device-width: 480px) {
    justify-content: center;
  }
}

.directional-arrow {
  width: 100%;
  height: 100%;
  fill: #fff;
  cursor: pointer;
  &:hover {
    fill: $secondary;
  }
}

.image-slider-container {
  height: 100%;
  @include for-phone-only-portrait {
    width: 228px;
  }
}

.arrow-link {
  width: 30px;
  height: 30px;
}
