.main-feed {
  width: 100%;
  height: 100vh;
}

.quote-section {
  margin: 10px 0;
}

.section-header {
  text-align: center;
  font-size: 2.6rem;
  font-family: "leadFont";
  color: $font;
}

.lead {
  font-size: 1.5rem;
  font-family: 'subFont';
  font-style: italic;
  color: $font;
}

.divider-main {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(247,247,242, 0), rgba(247,247,242, 0.75), rgba(247,247,242, 0));
}

.shop-section {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
