.main-feed {
  width: 100%;
  height: 100vh;
}

.quote-section {
  margin: 10px 0;
}

.section-header {
  text-align: center;
  font-size: 2.6rem;
  font-family: "leadFont";
  color: $font;
}

.lead {
  font-size: 1.5rem;
  font-family: 'subFont';
  font-style: italic;
  color: $font;
}

.divider-main {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, rgba(247,247,242, 0), rgba(247,247,242, 0.75), rgba(247,247,242, 0));
}

.shop-section {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.main-shop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  .shop-item{
    cursor: pointer;
    width: 138px;
    margin: 0.5em;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .shop-item-img{
      height: 165px;
      border-radius: 1rem;
      &:hover{
        box-shadow: 0 0 12px #F5F5F5;
        transition: box-shadow 0.3s ease-in-out;
      }
    }
    .shop-item-text{
      margin-top: 5px;
      color: $font;
      font-size: 1.1rem;
    }
  }
}

.footer{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


//page-not-found component
.page-not-found-layout{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
