@import "./breakpoints.scss";

.social-link {
  width: 40px;
}

.navbar {
  padding: 4px 0 0 0;
  align-items: center;
}

.header-content {
  text-align: center;
  @include for-small-phone {
    width: 200px;
  }
  @include for-phone-only-portrait {
    width: 215px;
  }
  width: 65%;
  .navbar-brand-title {
    font-family: "leadFont";
    margin-bottom: 0px;
    color: $font;
    @include for-small-phone {
      font-size: 2.2rem;
    }
    @include for-phone-only-portrait {
      font-size: 2.5rem;
    }
    @include for-phone-only-landscape {
      font-size: 2.9rem;
    }
    @include for-tablet-portrait {
      font-size: 3.2rem;
    }
    @include for-desktop-only {
      font-size: 3.5rem;
    }
    @include for-big-desktop-up {
      font-size: 3.8rem;
    }
  }
  .navbar-brand-subtitle {
    font-family: "subFont";
    margin-bottom: 0px;
    color: $font;
    @include for-small-phone {
      font-size: 1rem;
    }
    @include for-phone-only-portrait {
      font-size: 1.3rem;
    }
    @include for-phone-only-landscape {
      font-size: 1.6rem;
    }
    @include for-tablet-portrait {
      font-size: 1.9rem;
    }
    @include for-desktop-only {
      font-size: 2.1rem;
    }
    @include for-big-desktop-up {
      font-size: 2.4rem;
    }
  }
}

.user-links {
  width: 40px;
  @media screen and (min-width:767px) {
    width: 60px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  &:hover {
    fill: $secondary;
  }
  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.icon:hover {
  fill: $secondary;
}

.main-nav {
  overflow: hidden;
  height: 40px;
  .nav-item {
    text-align: center;
    a {
      text-decoration: none;
      font-family: "subFont";
      color: $font;
      font-size: 1.3rem;
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
      span {
        position: relative;
        display: inline-block;
        transition: transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
      }
      span::before {
        color: $secondary;
        position: absolute;
        top: 100%;
        content: attr(data-hover);

        transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
      }
    }
    a:hover span,
    a:focus span {
      transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
    }
  }
}
