.new-member-container {
  height: 90px;
  background-color: $component;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.new-member {
  width: 55px;
  height: 55px;
  height: inherit;
}

.img-member {
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0px 0px 5px $background;
}

.member-name {
  text-align: center;
  font-family: "subFont";
  margin: 0;
}
