@import "./breakpoints.scss";

.new-member-container {
  height: 90px;
  background-color: $component;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.new-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  &:hover{
    .img-member{
      box-shadow: 0px 0px 13px $background;
    }
  }
}

.img-member {
  border-radius: 1rem;
  width: 55px;
  height: 55px;
  @media (min-device-width: 480px){
    width: 80px;
    height: 80px;
  }
  box-shadow: 0px 0px 5px $background;
}

.member-name {
  text-align: center;
  font-family: "subFont";
  margin: 0;
}
