.product-detail-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-detail-gallery {
  height: 100%;
  width: 228px;
  margin-top: 0.7rem;
}

.product-detail-price{
  font-family: "leadFont";
  font-size: 2rem;
}

.action-box{
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.add-to-cart{
  width: 45px;
  height: 45px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.80));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;

  &:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
  }
  &:active {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
  }
}
