$background: #0D090A;//smoky black
$secondary: #d1ccdc;//russian violet
$component: #f7f7f2;//smoky white
$tertiary: #403C3D;
$font: #fff;

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html {
  font-size: 100%;
}
