.user-detail-profile-photo{
    border-radius: 1rem;
    width: 60%;
    height: 150px;
    object-fit: fill;
    box-shadow: 0px 0px 5px $background
}

p{
    font-family: "subFont";
}

.glyphicon{
    width: 10px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header{
    color: $background;
}
